.footer-container {
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
    color:white;
  }
  
  .footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
    color:#fff;
  }
  .logo-container {
    display: flex;
    flex-direction: row; /* Display the logos in a row */
  }
  
  .logo {
    width: 50px; /* Set the desired width for the logo images */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some margin between the logos */
  }

  
  @media screen and (max-width: 768px) {
  }